{% extends 'base.html.twig' %}

{% block title %}New AskForAdoption{% endblock %}

{% block body %}
    <h1>Create new AskForAdoption</h1>

    {{ include('ask_for_adoption/_form.html.twig') }}

    <a href="{{ path('ask_for_adoption_index') }}">back to list</a>
{% endblock %}
