{% extends 'base.html.twig' %}

{% block title %} - Demande envoyée{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-ws-12">
           ici succes plus dowload pdf adoption demande
        </div>
        <div class="col-lg-6 col-md-6 col-ws-12">
        
        </div>
    </div>
</div>
{% endblock %}